@font-face {
  font-family: 'InstrumentSans-Regular';
  src: url(./InstrumentSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url(./Montserrat-ExtraBold.ttf);
}



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

